{
  "google": {
    "allowed": {
        "file_paths": [
          "My Drive/Media/Movies/",
          "My Drive/Media/TV/"
        ],
        "file_extensions": false,
        "file_extensions_list":[
          "webm","mkv","flv","vob","ogv","ogg","drc","gif",
          "gifv","mng","avi","mov","qt","wmv","yuv","rm",
          "rmvb","asf","amv","mp4","m4p","m4v","mpg","mp2",
          "mpeg","mpe","mpv","m2v","m4v","svi","3gp","3g2",
          "mxf","roq","nsv","f4v","f4p","f4a","f4b","mp3",
          "flac","ts"
        ],
        "mime_types": true,
        "mime_types_list": ["video"]
    },
    "client_id": "{{ (client_id.user_input | default('',true)) | trim }}",
    "client_secret": "{{ (client_secret.user_input | default('',true)) | trim }}",
    "maindrive": true,
    "teamdrive": false,
    "teamdrives": [],
    "poll_interval": 120
  },
  "server": {
    "listen_ip": "0.0.0.0",
    "listen_port": 7294,
    "direct_streams": false
  },
  "strm": {
    "access_url": "https://strm.{{ user.domain }}/",
    "root_path": "/strm",
    "remove_empty_dirs": true,
    "empty_dir_depth": 4,
    "show_transcodes": false,
    "chunk_size": 250000
  }
}
