{
  "autoscan": {
    "api_key": "YOUR_SERVER_PASS",
    "url": "http://plex.{{ user.domain }}:3468"
  },
  "motd": {
    "banner_title": "{{ ( cloudbox_type | default('Cloudbox',true) ) | capitalize }}",
    "banner_type": "peek",
    "show": {
      "autoscan": false,
      "nzbget": false,
      "plexpy": false,
      "rtorrent": false
    },
    "text_color": "LGRN",
    "title_color": "LBLU"
  },
  "nzbget": {
    "url": "https://{{ user.name }}:{{ user.pass }}@nzbget.{{ user.domain }}"
  },
  "plexpy": {
      "url": "https://plexpy.{{ user.domain }}",
      "api_key": "SET_YOUR_API_KEY"
  },
  "rtorrent": {
    "url": "https://{{ user.name }}:{{ user.pass }}@rutorrent.{{ user.domain }}"
  }
}
