# Cloudbox
/ansible.cfg
/accounts.yml
/settings.yml
/adv_settings.yml
/rclone.conf
/backup_config.yml
/backup_excludes_list.txt
/*.log

# Ansible
/backup.lock
/cloudbox.retry

# MacOS
.DS_Store

# Python
*.pyc
