### Vagrant ###
.vagrant/
*.box

### MacOS ###
.DS_Store

### Python ###
*.pyc

### Ansible ###
/backup.lock
/cloudbox.retry

### Cloudbox ###
/ansible.cfg
/accounts.yml
/settings.yml
/adv_settings.yml
/rclone.conf
/backup_config.yml
/backup_excludes_list.txt
/*.log
