{
    "storage-driver": "{{ ('zfs' in var_lib_file_system.stdout) | ternary('zfs','overlay2') }}",
    "userland-proxy": false,
    "log-driver": "json-file",
    "log-opts": {"max-size": "10m", "max-file": "3"}
}
