# /etc/systemd/system/unionfs.service

[Unit]
Description=UnionFS Mount
After=network-online.target init_vlan.service

[Service]
Type=forking
GuessMainPID=no
User={{user}}
Group={{user}}
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/unionfs-fuse -o cow,allow_other,nonempty /mnt/feeder=RW:/mnt/plexdrive=RO /mnt/unionfs
ExecStop=/bin/fusermount -uz /mnt/unionfs

[Install]
WantedBy=default.target
