{
  "automatic": {
    "movies": {
      "anticipated": 3,
      "boxoffice": 10,
      "interval": 24,
      "popular": 3,
      "trending": 2
    },
    "shows": {
      "anticipated": 10,
      "interval": 48,
      "popular": 1,
      "trending": 2
    }
  },
  "notifications": {
    "verbose": false
  },
  "filters": {
    "shows": {
      "allowed_countries": [
        "us",
        "gb",
        "ca"
      ],
      "allowed_languages": [],
      "blacklisted_min_runtime": 15,
      "blacklisted_min_year": 2010,
      "blacklisted_max_year": 2019,
      "blacklisted_genres": [
        "animation",
        "game-show",
        "talk-show",
        "home-and-garden",
        "children",
        "reality",
        "anime",
        "news",
        "documentary",
        "special-interest"
      ],
      "blacklisted_networks": [
        "twitch",
        "youtube",
        "nickelodeon",
        "hallmark",
        "reelzchannel",
        "disney",
        "cnn",
        "cbbc",
        "the movie network",
        "teletoon",
        "cartoon network",
        "espn",
        "fox sports",
        "yahoo!"
      ],
      "blacklisted_tvdb_ids": [],
      "disabled_for": []
    },
    "movies": {
      "allowed_countries": [
        "us",
        "gb",
        "ca"
      ],
      "allowed_languages": [],
      "blacklisted_genres": [
        "documentary",
        "music",
        "short",
        "sporting-event",
        "film-noir",
        "fan-film"
      ],
      "blacklist_title_keywords": [
        "untitled",
        "barbie",
        "ufc"
      ],
      "blacklisted_min_runtime": 60,
      "blacklisted_min_year": 2000,
      "blacklisted_max_year": 2019,
      "blacklisted_tmdb_ids": [],
      "allowed_countries": [
        "us",
        "gb",
        "ca"
      ],
      "disabled_for": []
    }
  },
  "core": {
    "debug": false
  },
  "radarr": {
    "api_key": "{{ radarr_api_key | default('',true) }}",
    "profile": "HD-1080p",
    "url": "https://radarr.{{ user.domain }}",
    "root_folder": "/movies/"
  },
  "sonarr": {
    "api_key": "{{ sonarr_api_key | default('',true) }}",
    "profile": "HD-1080p",
    "url": "https://sonarr.{{ user.domain }}",
    "root_folder": "/tv/",
    "tags": {}
  },
  "trakt": {
    "client_id": "",
    "client_secret": ""
  }
}
