{
  "core": {
    "debug": false
  },
  "automatic": {
    "movies": {
      "anticipated": 3,
      "boxoffice": 10,
      "interval": 24,
      "popular": 3,
      "trending": 2
    },
    "shows": {
      "anticipated": 10,
      "interval": 48,
      "popular": 1,
      "trending": 2
    }
  },
  "notifications": {
    "verbose": false
  },
  "filters": {
    "movies": {
      "allowed_countries": [
        "us",
        "gb",
        "ca"
      ],
      "allowed_languages": [],
      "blacklisted_genres": [
        "fan-film",
        "short",
        "sporting-event",
        "tv-movie"
      ],
      "blacklisted_min_runtime": 30,
      "blacklisted_max_runtime": 0,
      "blacklisted_min_year": 2000,
      "blacklisted_max_year": 2020,
      "blacklisted_tmdb_ids": [],
      "blacklisted_title_keywords": [
        "untitled",
        "barbie",
        "ufc"
      ],
      "disabled_for": []
    },
    "shows": {
      "allowed_countries": [
        "us",
        "gb",
        "ca"
      ],
      "allowed_languages": [],
      "blacklisted_min_runtime": 15,
      "blacklisted_max_runtime": 0,
      "blacklisted_min_year": 2010,
      "blacklisted_max_year": 2019,
      "blacklisted_genres": [
        "news",
        "special-interest"
      ],
      "blacklisted_networks": [
        "twitch"
      ],
      "blacklisted_title_keywords": [
        "wwe",
        "wwf"
      ],
      "blacklisted_tvdb_ids": [],
      "disabled_for": []
    }
  },
  "radarr": {
    "api_key": "{{ radarr_api_key | default('',true) }}",
    "minimum_availability": "released",
    "quality": "HD-1080p",
    "root_folder": "/movies/",
    "url": "https://radarr.{{ user.domain }}"
  },
  "sonarr": {
    "api_key": "{{ sonarr_api_key | default('',true) }}",
    "language": "English",
    "quality": "HD-1080p",
    "root_folder": "/tv/",
    "tags": {},
    "url": "https://sonarr.{{ user.domain }}"
  },
  "trakt": {
    "client_id": "",
    "client_secret": ""
  },
  "omdb": {
    "api_key": ""
  }
}
