# /etc/systemd/system/feeder.service
#########################################################################
# Title:         Cloudbox: Feeder Mount                                 #
# Location:      /etc/systemd/system/feeder.service                     #
# Author(s):     desimaniac                                             #
# URL:           https://github.com/cloudbox/cloudbox                   #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description=Feeder Mount
After=network-online.target

[Service]
User={{ user.name }}
Group={{ user.name }}
Type=notify
ExecStartPre=/bin/sleep 10
ExecStart={{ feeder_mount_start_command }}
ExecStop={{ feeder_mount_stop_command }}
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target
