# /etc/systemd/system/plexdrive5.service
#########################################################################
# Title:         Cloudbox: Plexdrive 5 Mount                            #
# Author(s):     l3uddz, desimaniac                                     #
# URL:           https://github.com/cloudbox/cloudbox                   #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description=Plexdrive 5 Mount
After=network-online.target

[Service]
User={{ user.name }}
Group={{ user.name }}
Type=simple
ExecStartPre=/bin/sleep 10
ExecStart={{ plexdrive_5_mount_start_command }}
ExecStop={{ plexdrive_5_mount_stop_command }}
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
