# /etc/systemd/system/rclone_vfs_primer.service
#########################################################################
# Title:         Cloudbox: Rclone VFS Primer - Service                  #
# Author(s):     EnorMOZ                                                #
# URL:           https://github.com/cloudbox/cloudbox                   #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description=Rclone VFS Primer - Service
Requires=rclone_vfs.service
After=rclone_vfs.service

[Service]
User={{ user.name }}
Group={{ user.name }}
Type=oneshot
ExecStartPre=/bin/sleep 10
ExecStart={{ rclone_vfs_mount_primer_command }}

[Install]
WantedBy=default.target
