# /etc/systemd/system/rclone_vfs_primer.timer
#########################################################################
# Title:         Cloudbox: Rclone VFS Primer - Timer                    #
# Author(s):     desimaniac, Horjulf                                    #
# URL:           https://github.com/cloudbox/cloudbox                   #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description=Rclone VFS Primer - Timer

[Timer]
OnUnitInactiveSec={{ rclone_vfs_mount_primer_interval }}

[Install]
WantedBy=timers.target
