# /etc/systemd/system/rclone_vfs.service
#########################################################################
# Title:         Cloudbox: Rclone VFS Mount                             #
# Author(s):     EnorMOZ                                                #
# URL:           https://github.com/cloudbox/cloudbox                   #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description=Rclone VFS Mount
After=network-online.target

[Service]
User={{ user.name }}
Group={{ user.name }}
Type=notify
ExecStartPre=/bin/sleep 10
ExecStart={{ rclone_vfs_mount_start_command }}
ExecStop={{ rclone_vfs_mount_stop_command }}
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target
