#########################################################################
# Title:         Cloudbox: Rclone VFS Primer - Service                  #
# Location:      /etc/systemd/system/rclone_vfs_primer.service          #
# Author(s):     EnorMOZ                                                #
# URL:           https://github.com/cloudbox/cloudbox                   #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description=Rclone VFS Primer - Service
Requires=rclone_vfs.service
After=rclone_vfs.service

[Service]
User={{ user.name }}
Group={{ user.name }}
Type=oneshot
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/rclone rc vfs/refresh \
  dir=Media \
  recursive=true \
  --user-agent='Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.131 Safari/537.36' \
  --config /home/{{ user.name }}/.config/rclone/rclone.conf \
  --timeout=1h \
  -vvv \
  --rc-addr=localhost:5572

[Install]
WantedBy=default.target
