{
  "server": {
    "epg": "epg.xml",
    "ffmpegbinary": "/usr/bin/ffmpeg",
    "host": "0.0.0.0",
    "playlist": "playlist.m3u8",
    "port": 1411,
    "url": "{{ sstvirl_web_url }}",
    "useffmpeg": false
  },
  "smoothstreams": {
    "guideall": false,
    "guidedays": 5,
    "pass": "",
    "server": "deu",
    "site": "viewstvn",
    "user": ""
  }
}