{
   "DOCKER_NAME":"plex",
   "GOOGLE": {
     "ENABLED": false,
     "CLIENT_ID": "",
     "CLIENT_SECRET": "",
     "ALLOWED": {
       "FILE_PATHS": [
         "My Drive/Media/Movies/",
         "My Drive/Media/TV/",
         "My Drive/Media/Music/"
       ],
       "FILE_EXTENSIONS": true,
       "FILE_EXTENSIONS_LIST": [
         "webm","mkv","flv","vob","ogv","ogg","drc","gif",
         "gifv","mng","avi","mov","qt","wmv","yuv","rm",
         "rmvb","asf","amv","mp4","m4p","m4v","mpg","mp2",
         "mpeg","mpe","mpv","m2v","m4v","svi","3gp","3g2",
         "mxf","roq","nsv","f4v","f4p","f4a","f4b","mp3",
         "flac","ts"
       ],
       "MIME_TYPES": true,
       "MIME_TYPES_LIST": [
         "video"
       ]
     },
     "TEAMDRIVE": false,
     "TEAMDRIVES": [],
     "POLL_INTERVAL": 120,
     "SHOW_CACHE_LOGS": false
   },
   "PLEX_ANALYZE_DIRECTORY":true,
   "PLEX_ANALYZE_TYPE":"basic",
   "PLEX_FIX_MISMATCHED":true,
   "PLEX_FIX_MISMATCHED_LANG": "en",
   "PLEX_DATABASE_PATH":"/opt/plex/Library/Application Support/Plex Media Server/Plug-in Support/Databases/com.plexapp.plugins.library.db",
   "PLEX_EMPTY_TRASH":true,
   "PLEX_EMPTY_TRASH_CONTROL_FILES":[
      "/mnt/unionfs/mounted.bin"
   ],
   "PLEX_EMPTY_TRASH_MAX_FILES":100,
   "PLEX_EMPTY_TRASH_ZERO_DELETED":false,
   "PLEX_LD_LIBRARY_PATH":"/usr/lib/plexmediaserver/lib",
   "PLEX_LOCAL_URL":"https://plex.{{ user.domain }}",
   "PLEX_SCANNER":"/usr/lib/plexmediaserver/Plex\\ Media\\ Scanner",
   "PLEX_SUPPORT_DIR":"/var/lib/plexmediaserver/Library/Application\\ Support",
   "PLEX_USER":"plex",
   "PLEX_TOKEN":"{{ plex_auth_token | default('') }}",
   "PLEX_CHECK_BEFORE_SCAN":true,
   "PLEX_WAIT_FOR_EXTERNAL_SCANNERS":false,
   "RCLONE": {
     "BINARY": "/usr/bin/rclone",
     "CONFIG": "/home/{{ user.name }}/.config/rclone/rclone.conf",
     "CRYPT_MAPPINGS": {
     },
     "RC_CACHE_REFRESH": {
       "ENABLED": false,
       "FILE_EXISTS_TO_REMOTE_MAPPINGS": {
         "Media/": [
           "/mnt/unionfs/Media/"
         ]
       },
       "RC_URL": "http://localhost:5572"
     }
   },
   "RUN_COMMAND_BEFORE_SCAN":"",
   "RUN_COMMAND_AFTER_SCAN": "",
   "SERVER_ALLOW_MANUAL_SCAN":false,
   "SERVER_FILE_CHECK_DELAY":60,
   "SERVER_MAX_FILE_CHECKS":10,
   "SERVER_FILE_EXIST_PATH_MAPPINGS":{
      "/mnt/unionfs/Media/":[
         "/data/"
      ]
   },
   "SERVER_IGNORE_LIST":[
      "/.grab/",
      ".DS_Store",
      "Thumbs.db"
   ],
   "SERVER_IP":"0.0.0.0",
   "SERVER_PASS":"{{ plex_autoscan_server_pass | default('') }}",
   "SERVER_PATH_MAPPINGS":{
      "/data/Movies/":[
         "/movies/",
         "/mnt/unionfs/Media/Movies/",
         "My Drive/Media/Movies/"
      ],
      "/data/TV/":[
         "/tv/",
         "/mnt/unionfs/Media/TV/",
         "My Drive/Media/TV/"
      ]
   },
   "SERVER_PORT":3468,
   "SERVER_SCAN_DELAY":180,
   "SERVER_SCAN_FOLDER_ON_FILE_EXISTS_EXHAUSTION":true,
   "SERVER_SCAN_PRIORITIES":{
      "0":[
         "/TV/"
      ],
      "1":[
         "/Movies/"
      ]
   },
   "SERVER_USE_SQLITE":true,
   "USE_DOCKER":true,
   "USE_SUDO":false
}
