# /etc/systemd/system/plex_autoscan.service
#########################################################################
# Title:         Cloudbox: Plex Autoscan Service                        #
# Author(s):     l3uddz, desimaniac                                     #
# URL:           https://github.com/cloudbox/cloudbox                   #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description=Plex Autoscan
After=network-online.target

[Service]
User={{ user.name }}
Group={{ user.name }}
Type=simple
Environment=LC_ALL=C.UTF-8
Environment=LANG=C.UTF-8
Environment=FLASK_ENV=development
WorkingDirectory=/opt/plex_autoscan/
ExecStart=/opt/plex_autoscan/scan.py server --loglevel=INFO
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
