# /etc/systemd/system/plex_autoscan.service

[Unit]
Description=Plex Autoscan
After=network-online.target

[Service]
User={{ user }}
Group={{ user }}
Type=simple
WorkingDirectory=/opt/plex_autoscan/
ExecStart=/opt/plex_autoscan/scan.py server --loglevel=INFO
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
