# /etc/systemd/system/nfs_vlan.service

[Unit]
Description=Init NFS VLAN For Mediabox
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/opt/hetzner_nfs/init_vlan.sh

[Install]
WantedBy=multi-user.target
