# /etc/systemd/system/cloudplow.service
#########################################################################
# Title:         Cloudbox: Cloudplow Service                            #
# Author(s):     l3uddz                                                 #
# URL:           https://github.com/cloudbox/cloudbox                   #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description=Cloudplow
After=network-online.target

[Service]
User={{ user.name }}
Group={{ user.name }}
Type=simple
WorkingDirectory=/opt/cloudplow/
ExecStart=/usr/bin/python3 /opt/cloudplow/cloudplow.py run --loglevel=INFO
ExecStopPost=/bin/rm -rf /opt/cloudplow/locks
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
