# /etc/systemd/system/unionfs.service
#########################################################################
# Title:         Cloudbox: UnionFS Mount                                #
# Author(s):     l3uddz, desimaniac                                     #
# URL:           https://github.com/cloudbox/cloudbox                   #
# --                                                                    #
#         Part of the Cloudbox project: https://cloudbox.works          #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################

[Unit]
Description=UnionFS Mount
After=network-online.target

[Service]
Type=forking
GuessMainPID=no
User={{ user.name }}
Group={{ user.name }}
ExecStart={{ unionfs_mount_start_command }}
ExecStop={{ unionfs_mount_stop_command }}

[Install]
WantedBy=default.target
