{"SettingsDatabase": {"ConnectionString": "Server=mariadb;Port=3306;Database=Ombi;User=root;Password=password321", "Type": "MySQL"}, "OmbiDatabase": {"ConnectionString": "Server=mariadb;Port=3306;Database=Ombi;User=root;Password=password321", "Type": "MySQL"}, "ExternalDatabase": {"ConnectionString": "Server=mariadb;Port=3306;Database=Ombi;User=root;Password=password321", "Type": "MySQL"}}
